.input-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

.input-wrapper .input {
  box-sizing: border-box;
  width: 100% !important;
  padding-right: 32px;
}

.input-wrapper .clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}
